[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
google-cloud-bigquery = "*"
google-cloud-bigquery-storage = "*"
google-cloud-storage = "*"
google-cloud-pubsub = "*"
google-cloud-functions = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
ipykernel = "*"
psycopg2-binary = "*"
poc-gcp = {editable = true, path = "."}
pydantic = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3"
